.container {
  background-color: var(--background);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.posts {
  max-width: 720px;
  margin-top: 61px;
  margin-bottom: 48px;

  h1 {
    font-size: 28px;
    font-weight: 700;
    text-align: justify;
    margin-bottom: 8px;
  }

  p {
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    color: var(--body);
    margin-bottom: 24px;
  }
  div {
    margin-top: 25px;
  }

  svg {
    margin-right: 5px;
  }

  span {
    font-size: 14px;
    font-weight: 400;
    color: var(--info);
  }

  time {
    font-size: 14px;
    color: var(--info);
    margin-right: 26px;
  }
}
